<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!-- The format of the connection string is "DefaultEndpointsProtocol=https;AccountName=NAME;AccountKey=KEY" -->
    <!-- For local execution, the value can be set either in this config file or through environment variables -->
    <!--
    <add name="AzureWebJobsDashboard" connectionString="" />
    <add name="AzureWebJobsStorage" connectionString="" />
    -->
    <add name="AzureWebJobsDashboard" connectionString="DefaultEndpointsProtocol=https;AccountName=nnservicesblob1;AccountKey=z8xQwwM64vnr9ITolqGTNcXJ9RBQxvsgNEucEExLDC7J1m7WfdXLetUlrhSk4gNG8oJSLNzy3nC6QiBYfXbnBg==;EndpointSuffix=core.windows.net" />
    <add name="AzureWebJobsStorage" connectionString="UseDevelopmentStorage=true;" />

  </connectionStrings>
  <appSettings>
    
  <add key="StorageConnectionString" value="UseDevelopmentStorage=true;DevelopmentStorageProxyUri=http://127.0.0.1" />
   
    <!--Web job configuration-->
    <!--Queue pooling interval, max time between pooling messages from queue-->
    <add key="MaxPollingIntervalMiliseconds" value="100" />
    <add key="MaxPollingIntervalSeconds" value="10" />
    
    <!-- BatchSize = Number of messages to dequeu at once-->
    <add key="BatchSize" value="15" />



  </appSettings>
    
    <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.Storage" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>